p {
    text-align: justify;
  }

@media (prefers-color-scheme: dark) {
  .highlight {
    background: #202020 !important;
  }
  
  .cm-keyword {
    color: #F92672 !important;
  }

  .cm-variable {
    color: #FFFFFF !important;
  }

  

}